body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

@media only screen and (max-width: 768px){
    body{
        padding: 1px;
        margin: 1px;
    }
    .about,
    .contact,
    .resume,
    .portfolio {
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 50px;
    }
}

.nav {
    background-color: #D2C5E1;
    margin-top: 0px;
    padding-top: 0px; 
    width: 100%; 
}

.nav-item {
    color: #645460;
    padding-top: 2%;
}

.myName {
    margin: 2px; 
    margin-right: 10px;
    padding: 5px; 
    font-size: 30px; 
    font-weight: bolder;
    position: relative;
    padding-top: 15px;
    color: #645460;
}

.about,
.contact,
.resume,
.portfolio {
    margin-bottom: 60px; 
}

.about,
.contact,
.resume,
.portfolio {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 100px;
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #D2C5E1;
  }
  
  a.menu:hover {
    font-size:20px;
  }

  .footer-content-right {
    text-align: center; 
  }
  
  .icon-style {
    height:40px;
    margin-left:20px;
    margin-top:5px;
  }
  
  .icon-style:hover {
    padding:5px;
  }

  .card:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }

  .card {
    text-align: center;
  }

  .headshot {
    width: 30%;
    border-radius: 50%;
    padding-bottom: 10px;
  }

  hr {
    width: 100%;
    margin: 0px;
  }

  h1 {
    padding-top: 35px;
  }

  .projectImg {
    height: 275px; 
  }

  a {
    text-decoration: none;
    color: #645460;
  }

  .nav-link {
    color: #516292;
  }
  .nav-link:visited {
    text-decoration: none;
    color: #516292;
  }

  .tech {
    color: rgb(123, 122, 122); 
  }

  .links {
    text-decoration: none;
  }

  .links:visited {
    color: #516292;
  }